<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<script src='/build/js/allbooks.js'></script>
		<!--[if lt IE 9]>
		<script src="/lib/html5shiv.min.js"></script>
		<![endif]-->
		<!--[if (gte IE 6)&(lte IE 8)]>
		<script type="text/javascript" src="/lib/selectivizr.-min.js"></script>
		<noscript><link rel="stylesheet" href="[fallback css]" /></noscript>
		<![endif]-->
		<title>All books</title>
	</head>
	<body>
		<nav class='navbar navbar-default container-fluid navigation-bar'>
			<div class='navbar-header'>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class='navbar-brand' href='#'>Book Swap</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class='nav navbar-nav navbar-right'>
					<li class='active'><a href='#' id='my-books-link'>All Books<span class='sr-only'>(current)</span></a></li>
					<li><a href='/mybooks'>My Books</a></li>
					<li><a href='/addbooks'>Add Books</a></li>
					<li><a href='/swaps'>Swaps</a></li>
					<li><a href='#' id='settings'>Settings</a></li>
					<li>
						<a class='twitter' id='twitter-a' href='/auth/twitter'><i class=
						'fa fa-twitter' id='twitter-logo'></i></a>
					</li>
					<li>
						<a class='facebook' id='facebook-a' href='/auth/facebook'><i class=
						'fa fa-facebook' id='facebook-logo'></i></a>
					</li>
				</ul>
			</div>
		</nav>
		<div id='content' class='container'></div>
		<div class='container'>
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">Settings</h4>
						</div>
						<div class="modal-body">
							<form role="form">
								<div className="form-group">
									<label for="name">Name</label>
									<input type="text" class='form-control' id='name-modal' value=""></input>
								</div>
								<div className="form-group">
									<label for="email">e-mail</label>
									<input type="text" class='form-control' id='email-modal' value=""></input>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary" id='save'>Save changes</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src='/lib/store.min.js'></script>
		<script src='/build/js/allbooks2.js'></script>
	</body>
</html>