<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<script src='/build/js/mybooks.js'></script>
		<title>My books</title>
	</head>
	<body>
		<nav class='navbar navbar-default container'>
			<div class='navbar-header'>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class='navbar-brand' href='#' id='brand'>Book Trader</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class='nav navbar-nav navbar-right'>
					<li><a href='/'>Home</a></li>
					<li><a href='/mybooks'>Mybooks</a></li>
					<li class='active'><a href='#'>Add books<span class='sr-only'>(current)</span></a></li>
					<li><a href='/trade-books'>Trade books</a></li>
					<li><a href='/settings'>Settings</a></li>
					<li>
						<a class='twitter' id='twitter-a' href='/auth/twitter'><i class=
						'fa fa-twitter' id='twitter'></i></a>
					</li>
				</ul>
			</div>
		</nav>
		<div class='form-group'>
			<div class='input-group'>
				<input type='text' class='form-control' id='search-box' placeholder='Enter title, author, or ISBN number'>
				<div class='input-group-addon' id='search-button'>Search</div>
			</div>
		</div>
		<div id='content'></div>
		<script src='/js/mybooks-2.js'></script>
	</body>
</html>