<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<script src='/lib/store.min.js'></script>
		<script src='/build/js/requestbook.js'></script>
		<!--[if lt IE 9]>
		<script src="/lib/html5shiv.min.js"></script>
		<![endif]-->
		<!--[if (gte IE 6)&(lte IE 8)]>
		<script type="text/javascript" src="/lib/selectivizr.-min.js"></script>
		<noscript><link rel="stylesheet" href="[fallback css]" /></noscript>
		<![endif]-->
		<title>Request book</title>
	</head>
	<body>
		<nav class='navbar navbar-default container-fluid navigation-bar'>
			<div class='navbar-header'>
				<a class='navbar-brand' href='http://localhost:3000'>Book Swap</a>
			</div>
		</nav>
		<div id='requested-book' class='container'><h4>Swap:</h4></div>
		<div id='mybooks' class='container'><h4>For:</h4></div>
		<div class='container'>
			<div class='row'>
			<button type='button' class='btn btn-danger pull-right close-button' >Close swap page</button>
			</div>
		</div>
		<div class='container'>
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">Please fill in your contact details</h4>
						</div>
						<div class="modal-body">
							<form role="form">
								<div className="form-group">
									<label for="name">Name</label>
									<input type="text" class='form-control' id='name-modal' value=""></input>
								</div>
								<div className="form-group">
									<label for="email">e-mail</label>
									<input type="text" class='form-control' id='email-modal' value=""></input>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary" id='save'>Save changes</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src='/build/js/requestbook2.js'></script>
	</body>
</html>