body
{
    font-family: Verdana, Arial;
}

li span, .request-details
{
    display: none;
}

#search-button
{
    cursor: pointer;
    background-color: #febd69;
    color: #333;
}

.book {
	border-top: thin solid #ddd;
	padding-top: 1rem;
	margin-bottom: 3rem;
	font-size: 1.2rem;
}

.book-title {
	font-size: 1.8rem;
	color: #000033;
}

.book-details {
	margin-left: -1rem;
}

.add-button, .remove-button, .request-button, .swap-button {
	margin-top: -0.1rem;
	margin-bottom: 0.9rem;
}

.close-button{
	margin-top: 5rem;
}


p {
	line-height: 70%
}

p.book-title, p.authors {
	line-height: 100%;
}


img {
	max-height: 17rem;
}

@media screen and (max-width:767px){
	p.book-title {
		margin-top: 1rem;
	}
}

.navigation-bar {
	background-color: #232f3e;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
	color: #fff;
}

.navbar .navbar-nav{
	padding-top: 0.1rem;
}

#add-books-link {
	color: black;
}

#twitter-logo{
	color: #1da1f2;
	font-size: 1.5em;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	padding-bottom: 1.7rem;
}

span {
	display: none;
}

.swap {
	margin-bottom: 2rem;
}
