body
{
    font-family: Verdana, Arial;
    font-size: 62.5%;
}


.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a
{
    font-size: 1.4rem;

    color: #fff;
}

.navbar .navbar-nav, 
{
    padding-top: .1rem;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover
{
    padding-bottom: 1.8rem;
    color: #222;
}

nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-brand:hover
{
    padding-bottom: 1.8rem;

    color: #222;
    background-color: #e7e7e7;
}

.navbar-default .navbar-brand:hover {
	height: 5.3rem;
}


li span,
.request-details
{
    display: none;
}


#search-button:hover,
#search-button:focus,
button.add-button:focus
{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

button.add-button:focus
{
    border-color: #f33;
}

#search-button
{
    cursor: pointer;

    color: #333;
    background-color: #febd69;
}

.book
{
    font-size: 1.2rem;

    margin-bottom: 3rem;
    padding-top: 1rem;

    border-top: thin solid #ddd;
}

.book-title
{
    font-size: 1.8rem;
    font-style: normal;

    margin-right: 1rem;

    color: #003;
}

.book-details
{
    margin-left: -1rem;
}

.add-button,
.remove-button,
.request-button,
.swap-button
{
    font-size: 1.3rem;

    margin-top: -.1rem;
    margin-bottom: .3rem;
}

.close-button
{
    margin-top: 5rem;
}


p
{
    font-size: 1.4rem;
    line-height: 70%;
}

p.book-title,
p.authors
{
    line-height: 100%;
}


img
{
    max-height: 15rem;
}

@media screen and (max-width:767px)
{
    img,
    .book-details
    {
        margin-left: 5%;
    }

    img
    {
        margin-bottom: 1rem;
    }
}


.navigation-bar
{
    background-color: #232f3e;
}


#add-books-link
{
    color: black;
}

#twitter-logo
{
    font-size: 1.5em;

    color: #1da1f2;
}

#twitter-logo:focus,
#twitter-logo:hover
{
    color: #99e6ff;
}

#twitter-a:hover {
	padding-bottom: 1.5rem;
}



span
{
    display: none;
}

.swap
{
    margin-bottom: 2rem;
}

.requests-others
{
    padding-bottom: 2rem;

    border-bottom: 1px solid #222;
}




span.username
{
    display: inline;

    color: #003;
}
