body
{
    font-family: Verdana, Arial;
    font-size: 62.5%;
}


.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a
{
    font-size: 1.4rem;

    color: #fff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover
{
    padding-bottom: 1.8rem;

    color: #222;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-brand:focus
{
    padding-bottom: 1.8rem;

    color: #222;
    background-color: #e7e7e7;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus
{
    height: 5.3rem;
}

#twitter-a:hover,
#twitter-a:focus
{
    height: 5.3rem;

    color: #99e6ff;
}

#twitter-logo
{
    font-size: 1.5em;

    color: #1da1f2;
}

.navigation-bar
{
    background-color: #232f3e;
}


li span,
.request-details
{
    display: none;
}


#search-button:hover,
#search-button:focus,
button.add-button:focus
{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

#search-button
{
    cursor: pointer;

    color: #333;
    background-color: #febd69;
}

.book
{
    font-size: 1.2rem;

    margin-bottom: 3rem;
    padding-top: 1rem;

    border-top: thin solid #ddd;
}

.book-title
{
    font-size: 1.8rem;
    font-style: normal;

    margin-right: 1rem;

    color: #003;
}

.book-details
{
    margin-left: -1rem;
}

.add-button,
.remove-button,
.request-button,
.swap-button
{
    font-size: 1.3rem;

    margin-top: -.1rem;
    margin-bottom: .5rem;
}

.close-button
{
    margin-top: 5rem;
}

.btn-danger {
	background-color: #C9302C;
}

.btn-danger:hover, .btn-danger:focus{
	background-color: #541512;
}


p
{
    font-size: 1.4rem;
    line-height: 70%;
}

p.book-title,
p.authors
{
    line-height: 100%;
}

img
{
    max-height: 15rem;
}

#add-books-link
{
    color: black;
}

span
{
    display: none;
}

.swap
{
    margin-bottom: 2rem;
}

.requests-others
{
    padding-bottom: 2rem;

    border-bottom: 1px solid #222;
}


span.username
{
    display: inline;

    color: #003;
}


@media screen and (max-width:767px)
{
    img,
    .book-details
    {
        margin-left: 5%;
    }

    img
    {
        margin-bottom: 1rem;
    }
}
